.inner {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  padding: 15px;
  box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
}

.inner p {
  margin: 0;
}

.social-icon {
  height: 30px;
  width: 30px;
  margin: 0 10px;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.social-icon:hover {
  transform: scale(1.2);
  opacity: 0.8;
}

.foot {
  text-align: center;
  background-color: #000000;
  color: #ecf0f1;
  padding: 10px;
  font-size: 20px;
}
