<div class="inner">
    <div>
        <p>
            <a href=""><img class="social-icon" src="/images/instagram.png" alt=""></a>
            <a href=""><img class="social-icon" src="/images/linkedin.png" alt=""></a>
            <a href=""><img class="social-icon" src="/images/whatsapp.png" alt=""></a>
        </p>
    </div>
</div>
<div class="foot">
    Alvaro Cozano Pérez | 2º DAW
</div>